* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
}

.sidebar {
    background-color: blue;
    grid-row: 1 / 3;
}

.book-card {
    height: 250px;
    width: 250px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #efe6d8;
    color: #3a2f2a;
}

.book-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;
}

.title {
    border-bottom: 1px solid black;
}