* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
}

.sidebar {
    background-color: #e2d4c2;
    grid-row: 1 / 3;
    display: flex;
    justify-content: center;
}

.content {
    background-color: #f6f1ea;
    grid-row: 1 / 3;
}

.book-card,
.new-card {
    height: 250px;
    width: 250px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #efe6d8;
    color: #3a2f2a;
    box-shadow: 0 2px 5px brown;
}

.book-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 10px;
}

.title {
    border-bottom: 1px solid black;
}

.new-card {
    margin: 10px;
}

input {
    border-radius: 10px;
    border: 0;
    padding: 3px;
}

button {
    border-radius: 10px;
    padding: 2px 20px;
    border: 0;
    background-color: brown;
    color: white;
}

.remove, 
.toggle {
    background-color: black;
    color: white;
}

.remove:hover {
    background-color: red;
}

.toggle:hover {
    background-color: green;
}

.new-card button:hover {
    background-color: gold;
}